ENV=dev
DEBUG=1
SECRET_KEY=foo
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 0.0.0.0 [::1]
DB_ENGINE=django.db.backends.postgresql
DB_NAME=db
DB_USER=django
DB_PASSWORD=password
DB_HOST=database
DB_PORT=5432
